@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* ---------------------Banner -----------------*/
body{
    margin: 0%;

}
.home-container{
    background-color: #2D25A0;
    width: 1895px;
    height: 920px;
}
.home-bar a {
    text-decoration: none;
    font-size: 40px;
    margin-left: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;
}
nav {
    display: flex;
    justify-content: space-between;
    padding-left: 156px;
    padding-right: 124px;
    padding-top: 42px;
}
.login-bar a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 25px ;
    font-weight: 500;

    
}
.login{
   background-color: #E02C6D;
   width: 190px;
   height: 60px;
   border-radius: 5px;
   padding-right: 10px;

}
.headline{
    color: #FFFFFF;
    font-family: "poppins";
    font-weight: 700;
    font-size: 90px;
    padding-left: 180px;
    margin-top: 120px;
}

.watch-live{
    text-decoration: none;
    font-family: "poppins";
    font-size: 20px;
    font-weight: 500;
    color:white;
}
.arrow-icon a{
    color: white;
    font-size: 20px;
    padding-left: 15px;
    padding-top: 10px;
}
.watch-button{
    background-color: #E02C6D;
    width: 220px;
    height: 60px;
    margin-left: 180px;
    border-radius: 5px;
    
}
.banner-image img{
    width: 740px;
    height: 620px;
    position: relative;
    top: 60px;
    right: 180px;
    
}
.image-1:hover{  
    transform: rotateY(360deg);
    transition: 4s ease-out;
    
}

.banner-head{
    display:flex;
    justify-content: space-between;
}

/* -------------------------------------------------------------------------------Main Body--------------------- */

.players{
    margin-top: 70px;
    margin-left: 250px;
    margin-right: 240px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px; 
    
}
.player{
    background-color: rgb(246, 246, 246);
    border: 4px;
    width: 430px;
    height: 600px;
    margin-top: 25px;
    box-shadow: 2px 2px 50px -15px #6C6C6C;
}
article{
    padding: 20px;
}
.player img{
    width: 390px;
    height: 320px;
}
.player-name{
    color: #18191F;
    font-size: 40px;
    font-weight: bold;
    font-family: "poppins";
    margin-top: 10px;
}
.player-details{
    color: #6C6C6C;
    font-size: 18px;
    font-family: "poppins";
    padding-bottom: 50px;
    
}

/* --------Match-highlights-design */

.match-highlights{
    display: flex;
    
    
}
.highlight{
    border: 1px ;
    width: 700px;
    height: 600px;
    margin-top: 250px;
    margin-left: 230px ;
}

.match-headline{
    font-family: "poppins";
    font-size: 65px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 40px;
}
.match-details{
    font-family: "poppins";
    color: #6C6C6C;
    font-size: 20px;
    margin-bottom: 40px;
    
}
.watch-now{
    text-decoration: none;
    font-family: "poppins";
    font-size: 20px;
    font-weight: 500;
    color:white;
}
.watch-now-button{
    background-color: #E02C6D;
    width: 220px;
    height: 60px;
    border-radius: 2px;
}
.highlight-image img{
    width: 720px;
    height: 550px;
    position: relative;
    top: 230px;
    left: 90px;
}
.highlight-image-second img{
    width: 720px;
    height: 550px;
    position: relative;
    top: 230px;
    left: 100px;
}



/* ---------------------------------------------------------------Fotter Design ---------------------------------------------- */


.logo img{
    width: 600px;
    position: relative;
    left: 650px;
    top: 90px;
}

.icon img{
    height: 55px;
    position: relative;
    top: 100px;
    left: 800px;
    padding-left: 20px;
}
.copyright {
    font-family: "poppins";
    font-size: 25px;
    position: relative; 
    bottom: -100px;
    left: -20px;
    padding-left: 825px;
}
.footer{
    margin-bottom: 250px;
}


/* ----------------Media Queries ------------*/

/* ----------------For Mobile ---------------*/

@media (max-width: 481px) 
{
    .home-container{
        width: 75vw;
        height: 750px;
    }
    .home-bar{
        visibility: hidden;
    }
    .login-bar{
        position: absolute;
        right: 30vw;
        
    }
    .login-bar a{
        font-size:15px;
        padding-left: 5px;
    }
    .login{
        width: 120px;
        height: 50px;
    }
    .headline{
        font-size: 35px;
        padding-left:20px;
        margin-top: -150px;
    }
    .watch-button{
        width: 180px;
        height: 50px;
        margin-left: 20px ;
    }
    .banner-image img{
        width: 330px;
        height: 270px;
        position: absolute;
        left: 15px;
        top: 450px;
    }
    
    /* main-part */

    .players{
        display: flex;
        flex-direction: column;
    }
    .player img{
        width: 310px;
        height: 256px;
        margin-top: -1.8vw;
        margin-left: -1.8vw;
        
    }
    
    .player{
        width: 70vw;
        margin-right: 0%;
        margin-left: -50vw;
    }

    .player-name{
        width: 280px;
        margin-left: -8px;
        font-size: 35px;

    } 

    .player-details{
        margin-left: -8px;
    }
    


    /* Match-highlights-start */

    .match-highlights{
        display: block;

    }
    
    .highlight{
        margin-left: -1.8vw;
    }

    .match-headline{
        font-size: 30px;
        font-weight: bold;
        margin: auto;
    }
    .match-details{
        font-size: 16px;
        width: 320px;
        
    }
    .watch-now-button{
        width: 173px;
        height: 44px;
    }

    .highlight-image img{
        width: 335px;
        height: 248px;
        margin-left: -1.8vw;
        top: -120px;
        left: 20px;
    }
    
    .highlight-image-second img{
        width: 335px;
        height: 248px;
        margin-left: -1.8vw;
        top: -120px;
        left: 20px;
    }


    /* Footer-Part */


    .logo img{
        width: 300px;
        height: 80px;
        position: relative;
        top: -50px;
        left: 15px;

    }
    .icon img{
        width: 30px;
        height: 30px;
        position: relative;
        top: -30px;
        left: 60px;
    }
    
    .copyright{
        font-size: 18px;
        width: 80vw;
        padding-left: 17%;
        position: relative;
        top: -30px;
    }
}